In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [13]:
jeopardy = pd.read_csv('jeopardy.csv')

jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [14]:
print(jeopardy.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [15]:
newColumns = list()
for column in jeopardy.columns:
    column = column.lower().strip().replace(' ','_')
    newColumns.append(column)

jeopardy.columns = newColumns

In [16]:
import re

def text_cleaning(text):
    text = text.lower()
    text = re.sub('[^a-z0-9\s]', '', text)
    text = re.sub('\s+', ' ', text)
    return text

def value_cleaning(text):
    if text == 'None':
        return 0
    else:
        text = text.replace('$', '').replace(',', '')
        return int(text)

In [17]:
clean_question = jeopardy.question.apply(text_cleaning)
clean_answer = jeopardy.answer.apply(text_cleaning)
clean_value = jeopardy.value.apply(value_cleaning)

Checking if the ansewer is on the question

In [27]:
split_answer = clean_answer.str.replace('the','').str.split()
split_question = clean_question.str.split()